<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="org.devgirl.calendar"
      version="0.1.0">
    <name>Calendar</name>
    <description>Sample PhoneGap Toast Plugin</description>
    <license>MIT</license>
    <keywords>phonegap,toast</keywords>


    <js-module src="www/toast.js" name="toast">
        <!-- <clobbers target="window.calendar" /> -->
        <runs/>
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Toast">
                <param name="android-package" value="org.apache.cordova.ToastPlugin"/>
            </feature>
        </config-file>

        <source-file src="src/android/ToastPlugin.java" target-dir="src/org/apache/toast" />      
     </platform>          
</plugin>